<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.news.tnde.newapp" >

    <!-- android:name="com.orm.SugarApp" android:name=".NewsApplication" -->
    <application
        android:name=".android.NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="DATABASE" android:value="sugar_example.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example" />

        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>





        <activity
            android:name=".android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".android.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".android.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".android.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".android.AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity android:name=".android.LoginActivity"
            android:label="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1dc092de903e0800c7eac1a12ee8a16ccb00e8c1" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
